html {
  --color-primary-gray: #ededed;
  --color-text-light: #e9e9e1;
  --color-white: hsl(205, 100%, 96%);
  --color-text-darkgreen: #44593a;
  --color-text-dark: #242424;
  --color-bg-light: rgba(177, 174, 174, 0.109);
  --color-primary-brown: #cab5a0;
  --color-secondary-brown: #e6ceb7;
  --color-tertiary-brown: #e7d5c3;
  --color-quaternary-brown: #d0bca4;
  --color-text-brown: #4d3434;
  --color-primary-brown-orange: #aa7e4c3a;
  --color-blue: #49a6e9;
  --color-blue-light: #49a6e99d;
  --color-primary-yellow: #d1ff19;
  --color-secondary-yellow: #fbab00;
  --color-primary-lightgreen: #98ff98;
  --color-secondary-lightgreen: #82f082;
  --color-tertiary-green: #00b100;
  --color-tertiary-greenDark: #018801;
}

////////////////////////////* Font-Weights *////////////////////////

$font-weights: (
  "font-weight-thin": 100,
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
  "font-weight-bolder": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, font-weight-style);
}

////////////////////////////* Font-Size *////////////////////////

$font-sizes: (
  "font-size-ssmall": calc(0.6rem + 0.5vw),
  "font-size-msmall": calc(0.8rem + 0.5vw),
  "font-size-small": calc(1.2rem + 0.5vw),
  "font-size-regular": calc(1.5rem + 1vw),
  "font-size-medium": calc(1.5rem + 2vw),
  "font-size-large": calc(1.5rem + 5vw),
  "font-size-xlarge": calc(2.5rem + 5vw),
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

////////////////////////////* Brake-Points *////////////////////////
$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 800px,
  "break-point-betweenTD": 1100px,
  "break-point-desktop": 1300px,
);

@function break-point($break-point-limit) {
  @return map-get($break-points, $break-point-limit);
}
