.hero {
  grid-column: container-start / container-end;
  padding: 1rem 0 0 0;

  &__bg--img {
    background-image: url("../assets/images/hero.jpg");
    width: 100%;
    height: 100%;
    min-height: 31.25rem;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }

  /* Hero text */
  &__textHolder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5.5rem 0;
    margin: 20vh 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    text-shadow: 2px 2px #000000;

    p {
      font-size: font-size("font-size-regular");
      padding-bottom: 2rem;
    }
  }

  &__h {
    font-size: font-size("font-size-regular");
    text-align: justify;
    text-align-last: center;
    letter-spacing: 0.05rem;
  }

  /* Hero-btn */
  &__container--btn {
    padding-top: 5rem;
    &-visit {
      background-color: transparent;
      border: 4px solid var(--color-primary-lightgreen);
      color: var(--color-text-light);
      cursor: pointer;
      padding: 1rem 3rem;

      &:hover {
        background-color: var(--color-secondary-lightgreen);
        color: var(--color-text-light);
      }
    }

    &-text {
      font-size: 0.5rem;
      font-weight: bold;
    }
  }

  /* Brake-Points */
  @include media-desktop {
    &__textHolder {
      padding: 15rem 0;
    }
  }

  @include media-betweenTD {
    &__textHolder {
      padding: 12rem 0;
    }

    @include media-tablet {
      .hero {
        &__bg--img {
          background-image: url("../assets/images/hero-small.jpg");
        }
      }

      &__textHolder {
        padding: 14rem 0;
        p {
          font-size: font-size("font-size-medium");
        }
      }

      &__container--btn-text {
        a {
          text-shadow: 2px 2px #000000;
          font-size: font-size("font-size-regular");
        }
      }
    }
  }

  @include media-medium {
    .hero {
      &__textHolder {
        padding: 15.5rem 0;
        p {
          font-size: font-size("font-size-medium");
        }
      }

      &__h {
        text-align: center;
      }

      &__container--btn-text {
        a {
          text-shadow: 2px 2px #000000;
          font-size: font-size("font-size-regular");
        }
      }
    }
  }

  @include media-small {
    .hero {
      &__textHolder {
        padding: 13rem 0;
      }
      &__container--btn-text {
        a {
          font-size: font-size("font-size-small");
        }
      }
    }
  }
}
