///brake point 1300px
@mixin media-desktop {
    @media screen and (min-width: break-point(breake-point-desktop)) {
      @content;
    }
  }
  
  ///******brake points 800px ******///
  @mixin media-tablet {
    @media screen and (max-width: break-point(break-point-tablet)) {
      @content;
    }
  }
  //+++++++++++ brake point 600
  @mixin media-medium {
    @media screen and (max-width: break-point(break-point-medium)) {
      @content;
    }
  }
  
  //+++++++++++ brake point 400
  @mixin media-small {
    @media screen and (max-width: break-point(break-point-small)) {
      @content;
    }
  }
  //*_*_*_*_*_*_*_**_**_*_*_*_*_*_*_*_*_*_*_*_**_*_**_**__**_*__*_

::selection {
    background-color: var(--color-primary-lightgreen);
}

@import "1.resets";
@import "2.variables";
@import "3.utilities";
@import "4.header";

/* Placeholders */

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}